@import url("navbar.css");
@import url("section.css");
@import url(variables.css);
@import url(section2.css);
@import url(footer.css);
@import url(section3.css);

/* Mobile */
@import url(mq_mobile/mq_vistaPrincipal.css);
@import url(mq_mobile/mq_navbar.css);
@import url(mq_mobile/mq_servicios.css);

html {
  scroll-behavior: smooth;
}
body{
    display: flex;
    flex-direction: column;
    margin:0;
    padding: 0;
    font-family: var(--font-secondary);
}