@import url("navbar.css");
@import url("section.css");
@import url(variables.css);
@import url(section2.css);
@import url(footer.css);

html {
  scroll-behavior: smooth;
}
body{
    display: flex;
    flex-direction: column;
    margin:0;
    padding: 0;
    overflow-x: hidden;
    font-family: var(--font-secondary);
}