nav{
    width: 100%;
    height: 10%;
    display: flex;
    position: fixed;
    z-index: 100;
    transition: 
        background-color  .5s ease,
        color .5s ease,
        opacity .5s ease;
    
}
nav:hover{
    background-color: rgba(0, 0, 0, 0.856);
}
nav:hover .nav-container-links{
    opacity: 1;
}


/* Logotipo de navbar*/

.nav-container-logo{
    max-width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-left: 1%;
}
.nav-container-logo .container-logo img{
    width: 10%;
    transform: scale(1);
    transition: transform .3s ease;
}
.nav-container-logo .container-logo img:hover{
    transform: scale(1.2);
}
/* Links de navbar */

.nav-container-links{
    opacity: 0;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    text-align: center;
}

.nav-container-links a{
    width: 60%;
    text-decoration: none;
    list-style: none;
    color: var(--color-secondary);
    border-radius: 5px;
    transition:
        color .3s ease, 
        font-size .3s ease,
        background-color .4s ease,
        box-shadow .5s ease;
    

}
.nav-container-links a:hover{
    color: var(--color-primary);
    background-color: var(--color-primary);
    color: white;
    border-radius: 5px;
    box-shadow: -5px 5px 0px var(--color-primary-gradient);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.801);
    
}