/* ================================= */
/* PROPIEDAD Y ANIMACIÓN DE CARDS    */
/* Deben estar fuera de los selectores */
/* ================================= */

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes girar {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}

/*=================*/
/*==== INICIO ====*/
/*=================*/

.vista-principal{
    background-image: url(../assets/imagenes/body/section_1/fondo_spysh_santiago_3.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 100vh;
    max-height: 800px;
}
.container-imagen-vista-principal{
    
    height: 100%;
    display: grid;
    align-items: center;
    justify-items: end;
    
}
.container-imagen-vista-principal img{
    width: 80%;
}


/*=================*/
/*=== NOSOTRAS ===*/
/*=================*/

.quienes-somos {
    background-image: url(../assets/imagenes/body/section_1/fondo_vista_principal_2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: grid;
    min-height: 100dvh;
    overflow: hidden;


    .capa {
        grid-area: 1 / 1;
        width: 100%;
        box-sizing: border-box;

        transition:
            opacity .5s ease,
            transform .5s ease,
            filter .5s ease,
            visibility .5s ease;

        opacity: 1;
        visibility: visible;
    }


    /* ============================= */
    /* CAPA DE FONDO                 */
    /* ============================= */

    .fondo {
        z-index: 1;

        background-image: url(../assets/imagenes/body/section_1/fondo_spysh_santiago_2.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 100dvh;
    }
    
    
    /* ============================= */
    /* CAPA EDITORIAL                */
    /* ============================= */
    
    .editorial {
        z-index: 2;
        
        
        display: grid;
        justify-items: center;
        align-items: center;


        .texto-editorial {
            width: min(700px, 90%);
            height: min(600px, 80%);
            padding: 3%;

            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 3fr 1fr;

            color: var(--color-secondary);

            justify-items: center;
            align-items: center;

            background-color: rgba(0, 0, 0, 0.568);
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.699);
            backdrop-filter: blur(15px);
            text-shadow: 2px 2px 5px black;


            p {
                text-align: justify;
                font-size: clamp(17px, 0.8vw, 19px);
            }


            .button-fundadoras {
                cursor: pointer;
                padding: 0;

                width: clamp(70px, 5vw, 90px);
                height: clamp(70px, 5vw, 90px);

                border-radius: 50%;
                border: none;

                background-image: url(../assets/imagenes/navbar/logo_spysh_magenta_fondo_blanco.png);
                background-position: center;
                background-size: cover;

                transform: scale(1);
                transform: rotate(0deg);

                transition: transform .3s ease;
            }


            .button-fundadoras:hover {
                transform: scale(1.1);
                box-shadow: 1px 1px 5px black;
            }
        }
    }


    .editorial.oculta {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;

        transform: translateY(-30px);
        filter: blur(6px);
    }


    /* ============================= */
    /* CAPA FUNDADORAS               */
    /* ============================= */

    .fundadoras {
        z-index: 3;

        display: grid;
        grid-template-columns: 30% 10% 30%;
        grid-template-rows: 80%;
        align-items: center;
        align-content: center;
        justify-content: center;
        grid-gap: 5%;
        
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        
        transform: translateY(30px);
        filter: blur(6px);

        background-color: rgba(0, 0, 0, 0.212);
        backdrop-filter: blur(5px);

        
        /* ============================= */
        /* CARD                          */
        /* ============================= */

        .card {
            
            border-radius: 10px;
            height: clamp(350px, 40vw, 600px);
            background-color: var(--color-primary);

            display: grid;
            grid-template-rows: 4fr 1fr;
            justify-items: center;
            align-items: center;

            position: relative;

            img {
                width: clamp(180px, 20vw, 400px);
            
                border-radius: 50%;
                filter: grayscale(100%);

                box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.445);
            }


        /* ============================= */
        /* TÍTULO DE CARD                */
        /* ============================= */

            h1 {
                text-align: center;
                text-shadow: 1px 1px 5px black;

                color: white;
                font-size: clamp(15px, 2.5vw, 30px);

                position: relative;

                display: flex;
                justify-content: center;
                align-items: end;
            }

            
        }


        /* ============================= */
        /* FONDO ANIMADO DE CARD         */
        /* ============================= */

        .card::after,
        .card::before {
            --angle: 0deg;

            content: "";

            position: absolute;
            inset: -2px;

            border-radius: 10px;

            background-image: conic-gradient(
                from var(--angle),
                transparent 50%,
                white
            );

            z-index: -1;

            animation: girar 5s linear infinite;
        }
        .card::before {
            filter: blur(5px);
            
        }

        /* ============================= */
        /* BOTÓN VOLVER                 */
        /* ============================= */

        .button-Volver {
            background-image: url(../assets/imagenes/navbar/logo_spysh_blanco_fondo_magenta.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            position: relative;

            border: none;

            justify-self: center;
            align-self: center;

            border-radius: 50%;

            width: 80px;
            height: 80px;

            transform: scale(1);
            transition: transform .3s ease;

            cursor: pointer;
        }
        .button-Volver:hover {
            transform: scale(1.1);
            box-shadow: 1px 1px 5px black;
        }


        /* ============================= */
        /* IMAGEN DE CARD                */
        /* ============================= */




        .card h1::after {
            content: "";

            position: absolute;

            width: 70%;
            bottom: -20%;

            border-bottom: 1px solid white;
        }


        /* ============================= */
        /* INFORMACIÓN DE CARD           */
        /* ============================= */

        .card .infoCard {
            position: absolute;

            width: 90%;
            height: 95%;

            border-radius: 10px;
            border: 2px solid white;

            display: flex;
            align-items: center;
            justify-content: center;

            text-align: center;

            background-color: var(--color-primary);

            opacity: 0;

            transition: opacity .3s ease;

            box-shadow:
                1px 1px 5px rgba(0, 0, 0, 0.37) inset;
        }


        .card .infoCard p {
            font-size: clamp(12px, 1.4vw, 25px);
            padding: 5%;

            color: white;
            text-shadow: 1px 1px 5px black;
        }


        .card:hover .infoCard {
            opacity: 1;
        }

    }


    .fundadoras.activa {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;

        transform: translateY(0);
        filter: blur(0);
    }


    /* ============================= */
    /* CONTENEDOR DE CARDS           */
    /* ============================= */



    
}